#bac {  
    position: relative;
    background-color: transparent;
    height:92%;
    top: 5%;
  }
  .container{
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 85%;
    top:0%;
    display: flex;
    justify-content: center;
  }
  
  
  
  .cards { 
    width: 98%;
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;  
    
  }
  

  .Loading{
    position: relative;
    display: flex;
    height: 10rem;
    width: 15rem;
    color: white;
    justify-content: center;
  }
  
  
  .page-numbers {
      width: 30%;
      position:absolute;
      bottom: 8%;
      left: 35%;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }
  
  .page-numbers > li {
          flex-direction: row;  
          background:white;  
          margin-right: 0.3em;
          color: var(--bdazzled-blue);
          user-select: none;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: 'Bebas Neue', cursive;
          width: 1.2rem;
          display: flex;
          justify-content: center;
          z-index: 3;
        
  }
  .page-numbers > li:hover{
    background-color: transparent;
    color: white;
  }
  
  .page-numbers > li:active{
    color: red;
    position:relative;
	  top:1px;
  }

  .page-numbers > li::selection{
    background: var(--tumbleweed);
  }
  .page-numbers > li  div {
    width: 1.2rem;
    display: flex;
    justify-content: center;
  }

  .not-found{
    position: relative;
    display: flex;
    top:30%;
    width: 100%;
    /* align-content: center; */
    font-size: 2rem;
    justify-content: center;
  }
  .not-found p{
    color: white;
    background-color: tomato;
    padding: 1rem;
    border-radius: 1rem;
  }


