.bar2{
    position: relative;
    height: 5.5%;    
    top:5%;
    z-index: 2;
    background-color:#04AA6D;
    width: 100%;
    display: inline-flex;    
    justify-content: space-around;    
    align-items: center;
    /* border:solid 1px blue; */
    
}

.options-container{
    display: flex;
    position: absolute;
    left: 2rem;
}

.search{
    position: absolute;
    right: 2rem;
}