.HomeBack{    
    position: fixed;
   
    width: 100%;
    height: 100%;
    background-image: url('../../img/homeBK.jpg');
    background-repeat: no-repeat;    
    background-position: center;
    background-size:cover;
    
}