 /* .search-container{
     
 } */
 .search-input{
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    border-radius: 1rem;
    background: #fff;
    border: none;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    border: none;
    outline:none;
} 

.searchButton{
    position: absolute;
    right: 0;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.3rem;
    background-image: url('../../img/lupa.png');
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

